<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="기억보다는 기록을!!">
    <meta property="og:description" content="기억보다는 기록을!!"/>
    <meta property="og:image" content="{{ url_for('static', filename='/img/1.jpg') }}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>기억보단 기록을 | MyPage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>


        /*css 작업 하는 공간*/

    </style>

    <script>
        $(document).ready(function () {
            // 화면 뜨면 맨 처음 시작하는 작업 공간
        });


        // ajax 통신 함수 기본틀
        function getData() {
            $.ajax({
                type: 'GET',
                url: '/detail',
                data: {},
                success: function (response) {
                    console.log(response);
                }
            });
        }
    </script>
</head>

<body>

</body>

</html>

